name: HW Compile Test

on:
  push:
    branches: [ "main" ]
  pull_request:
    types: [opened, synchronize, reopened]

jobs:
  hw_compile:
    runs-on: ubuntu-latest
    strategy:
      matrix:
        target: 
          - { name: "stm32h753iitx", config: "Debug" }
          - { name: "stm32h753iitx", config: "Release" }
          - { name: "stm32l552xx", config: "Debug" }
          - { name: "stm32l552xx", config: "Release" }

    steps:
    - name: Checkout repo
      uses: actions/checkout@v4
      with:
        submodules: true

    - name: Build Docker image
      run: docker build -t zeropilot-ci -f docker/Dockerfile .

    - name: Build ${{ matrix.target.name }}
      run: |
        docker run --rm zeropilot-ci \
          stm32cubeide --launcher.suppressErrors -nosplash \
          -application org.eclipse.cdt.managedbuilder.core.headlessbuild \
          -data /workspace -import /workspace/${{ matrix.target.name }} \
          -cleanBuild ${{ matrix.target.name }}/${{ matrix.target.config }}
